{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="chat-container">
    <header class="chat-header">
      <h1>Hello , {{request.user}} !</h1>

      <div
  class="chat__item__container"
  id="id_chat_item_container"
  style="font-size: 20px"
>
  <br />
  <input type="text" id="id_message_send_input" placeholder="Type your message here" />
  <button type="submit" id="id_message_send_button" class="btn" >Send Message</button>
  <br />
  <br />
</div>

      {% if request.user.is_authenticated  %}
      <center>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Log Out</button>
      </form>
      </center>
    
{% endif %}
  </header>
  <div class="chat-messages">
    {% for message in initial_messages %}
        <div class="message">
            {{ message.username }} : {{ message.message }}
        </div>
    {% endfor %}
  </div>
<br>


<script>
  const chatSocket = new WebSocket("ws://" + window.location.host + "/");
  chatSocket.onopen = function (e) {
    console.log("The connection was setup successfully !");
  };
  chatSocket.onclose = function (e) {
    console.log("Something unexpected happened !");
  };
  document.querySelector("#id_message_send_input").focus();
  document.querySelector("#id_message_send_input").onkeyup = function (e) {
    if (e.keyCode == 13) {
      document.querySelector("#id_message_send_button").click();
    }
  };
  document.querySelector("#id_message_send_button").onclick = function (e) {
    var messageInput = document.querySelector(
      "#id_message_send_input"
    ).value;
    chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
  };
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log(data);
    {% comment %} var chatMessagesDiv = document.querySelector(".chat-messages");
    // chatMessagesDiv.innerHTML = '';  // Clear the chat messages div
    data.forEach(function(message) {
        var div = document.createElement("div");
        div.innerHTML = message.username + " : " + message.message;
        div.className = "message";
        chatMessagesDiv.appendChild(div);
    });
    document.querySelector("#id_message_send_input").value = ""; {% endcomment %}

    var div = document.createElement("div");
    div.innerHTML = data.username + " : " + data.message;
    div.className = "message";
    document.querySelector("#id_message_send_input").value = "";
    document.querySelector(".chat-messages").appendChild(div);
};
</script>
{% else %}

<div class="chat-container">
  <header class="chat-header">
    <h1> Django Chat </h1>
    <a href="{% url 'login' %}" class="btn">Start Chatting</a>
  </header>
    <div class="chat-messages">
        <div class="message">
            Uses Django Channels for real-time chat
        </div>
        <div class="message">
            Instantly connect with other users in the group chat
        </div>
        <div class="message">
            No need to refresh the page to see new messages
        </div>
        <div class="message">
            Just login and start chatting
        </div>

    </div>
</div>

{% endif %}
{% endblock %}